 body {
   margin: 0;
   font-family: 'Inter', sans-serif;
 }

 .navbarContainer {
   background-color: #F55A5A;
   display: flex;
   padding: 20px;
   max-height: 55px;
   gap: 20px;
   justify-content: center;
   align-items: center;
 }

 nav p {
   color: #FFF;
   font-family: 'Inter', sans-serif;
   font-size: 18px;
 }

 .card--image {
   width: 205px;
   height: 235px;
   flex-shrink: 0;
   border-radius: 5px;
   background: lightgray 50% / cover no-repeat;
 }

 .card--location {
   display: flex;
   align-items: center;
   letter-spacing: 0.17em;
 }

 a {
   margin-left: 1.2rem;
   color: #918E9B;
   letter-spacing: normal;
 }

 .card {
   display: flex;
   padding: 20px 10px;
   justify-content: center;
 }

 .card--title {
   font-size: 30px;
   font-weight: 900;
   /* line-height: normal; */
 }

 .card--info {
  padding-left: 19px;
 }

 .card--pin {
   width: 13px;
   height: 12.545px;
   /* flex-shrink: 0; */
   /* fill: #F55A5A; */
 }

 .footerContainer p {
   display: flex;
   justify-content: center;
 }